.full-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.admin-panel {
    display: flex;
    width: 80%;
    height: 80%;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

.chat-list {
    width: 30%;
    background: #e0e0e0;
    padding: 15px;
    overflow-y: auto;
}

.chat-list__items div {
    padding: 10px;
    background: white;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    text-align: start;
    position: relative;
}

.chat-list__items-author {
    font-weight: 600;
}

.chat-list__items-message {
    font-size: 90%;
    background-color: #e0e0e0;
}

.chat-blok__time {
    font-size: 80%;
    margin-top: 5px;
    color: var(--orange-color);
}

.chat-list__items div p.active {
    background: var(--main-color);
    color: white;
}

.chat-list__items div p.unread-count {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.chat-window {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.select-chat-message {
    text-align: center;
    margin-top: 50%;
    color: #888;
}

.admin-blok__list {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    display: inline-block;
    background: #e0e0e0;
    align-self: flex-start;
}

.message.admin {
    background: var(--main-color);
    color: #fff;
    align-self: flex-end;
}

.admin-blok__input form {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.admin-blok__input form input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
}

.admin-blok__input form button {
    background: none;
    border: none;
}

.admin-blok__input__icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: .5s;
    color: var(--main-color);
}

.admin-blok__input__icon:hover {
    opacity: .7;
}

.admin-blok__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 8px 12px;
}

.admin-blok__header h3 {
    color: var(--main-color);
}

.admin-blok__header-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: .5s;
    color: var(--main-color);
}

.admin-blok__header-icon:hover {
    opacity: .7;
}

.file-upload-icon {
    width: 25px;
    height: 25px;
    transition: .5s;
    cursor: pointer;
    color: var(--main-color);
    margin-top: 2px;
}

.file-upload-icon:hover {
    opacity: .7;
}

.admin__home {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    transition: .5s;
    cursor: pointer;
    font-family: var(--indian-font);
    color: var(--blue-color);
    font-weight: 700;
    font-size: 120%;
}

.admin__home__icon {
    width: 20px;
    height: 20px;
}

.admin__home:hover {
    opacity: .7;
}

@media (max-width: 768px) {
    .admin-panel {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .chat-list {
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-in-out;
    }
    .chat-window {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .admin__home {
        display: none;
    }
}