.navbar1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 100px;
    background-color: #fff; /* Немного прозрачности */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 998;
}

.navbar1.hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.navbar1.visible {
    display: flex;
    opacity: 1;
    visibility: visible;
}

.navbar1-blok {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar1-blok__section {
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
}

.navbar1-blok__section a {
    text-decoration: none;
    color: var(--main-color);
    transition: .5s;
    cursor: pointer;
    font-size: 120%;
}

.navbar1-blok__section a:hover {
    opacity: .7;
}

.navbar1-blok img {
    width: 120px;
    height: 75px;
}

@media (max-width: 768px) {
    .navbar1 {
        padding: 0 20px;
    }
    .navbar1-blok img {
        width: 100px;
        height: 60px;
    }
    .navbar1-blok__section a {
        font-size: 90%;
    }
    .landing-header__login {
        font-size: 80%;
    }
}