.navigator {
    margin-top: 130px;
    padding: 0 100px;
}

.navigator-blok {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    text-transform: uppercase;
}

.navigator-blok a {
    text-decoration: none;
    color: var(--text-color);
    transition: .5s;
    cursor: pointer;
    font-family: var(--indian-font);
    font-weight: 700;
}

.navigator-blok a:hover {
    opacity: .7;
}

.navigator__p {
    color: var(--main-color);
    font-family: var(--indian-font);
    font-weight: 700;
}

.navigator__slesh {
    width: 20px;
    height: 20px;
}

@media (max-width: 768px) {
    .navigator-blok {
        justify-content: center;
    }
}