.orders {
    margin-top: 30px;
}

.orders-blok {
    display: flex;
    flex-direction: column;
}

.orders-blok__section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--text-color);
}

.orders-blok__section-1 {
    padding-bottom: 30px;
    color: var(--main-color);
}

.orders-blok__section-part__main {
    width: 20px;
}

.orders-blok__section-part__product {
    width: 300px;
    padding: 15px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 7px;
}

.orders-blok__section-part__product a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.orders-blok__section-part__product a:hover {
    opacity: .7;
}

.orders-blok__section-part__product img {
    width: 100px;
    height: 60px;
    object-fit: cover;
}

.orders-blok__section-part__product p {

}

.orders-blok__section-part__status {
    text-transform: capitalize;
    width: 100px;
}

.orders-blok__section-part {
    width: 70px;
}

.orders-blok__section-part__end {
    width: 50px;
}

.orders-blok__section-part__end-p {
    font-size: 80%;
}

.orders-message {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.pagination button {
    padding: 5px 10px;
}

@media (max-width: 768px) {
    .orders-blok {
        font-size: 80%;
    }
    .orders-blok__section-part__product img {
        width: 80px;
        height: 50px;
        object-fit: cover;
    }
}