.crypto-blok {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.crypto-blok__section {
    display: flex;
    justify-content: start;
}

.crypto-blok__section button {
    cursor: pointer;
    transition: .3s;
}

.crypto-blok__section button:hover {
    opacity: .8;
}

.crypto__input {
    padding: 10px 20px;
}

.crypto__btn {
    width: 95px;
}

.crypto__alls-btn {
    padding: 2px 10px;
    cursor: pointer;
    transition: .3s;
    background-color: rgba(87, 84, 255, 0.395);
}

.crypto__top-btn {
    background-color: #4eff8369;
}

.crypto__btm-btn {
    background-color: #ff4e4e69;
}

@media (max-width: 885px) {
    .crypto__table {
        font-size: 80%;
    }
}

@media (max-width: 548px) {
    .crypto-blok {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .crypto-blok__section button {
        padding: 10px;
    }   
}

@media (max-width: 480px) {
    .crypto__table {
        font-size: 60%;
    }
}